<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Verificador de Site</h1>
        <p>Insira o Url do site que voce deseja verificar</p>

        <div>
            <input type="text" id="urlInput" placeholder="https://google.com">
            <button onclick="checkSite()">Verificar</button>
        </div>

        <div id="result"></div>

        <script src="/static/js/check_site.js"></script>

    </div>
</body>
</html>