<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fast</title>
</head>
<body>
    <div class="container">
        <h1>Check Site</h1>
        <p>Put Url to verify</p>

        <div>
            <input type="text" id="urlInput" placeholder="https://google.com">
            <button onclick="checkSite()">Verify</button>
        </div>

        <div id="result"></div>

        <script src="/static/js/check_site.js"></script>

    </div>
</body>
</html>